[Desktop Entry]
Type=Application
Name=Terminal
Exec=xterm -geometry 100x30 -bg '#0b0f17' -fg '#e8eefc' -fa 'DejaVu Sans Mono' -fs 11
Icon=utilities-terminal
Terminal=false
Categories=System;
